<form  id="form" class="form-horizontal row-fluid stickyForm formEdit">

  <div class="control-group">
    <label for="bibliographicLevel_s"  class="control-label ">Livello Bibliografico</label>
    <div class="controls">
      <input  id="bibliographicLevel_s" name="bibliographicLevel_s" disabled="disabled" title="bibliographicLevel_s" class="span11 " type="text" tal:attributes="value Component/bibliographicLevel_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="document_type"  class="control-label ">Tipo documento</label>
    <div class="controls">
      <input  id="document_type" name="document_type" disabled="disabled" title="document_type" class="span11 " type="text" tal:attributes="value Component/documentType_string"/>
    </div>
  </div>

  <div class="control-group">
    <label for="title"  class="control-label ">Titolo</label>
    <div class="controls">
      <input  id="title" name="title" disabled="disabled" title="title" class="span11 " type="text" tal:attributes="value Component/title_string"/>
    </div>
  </div>

  <div class="control-group">
    <label for="titleAlternative"  class="control-label ">Titolo alternativo</label>
    <div class="controls">
      <input  id="titleAlternative" name="titleAlternative" disabled="disabled" title="titleAlternative" class="span11 " type="text" tal:attributes="value Component/titleAlternative_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="titleNotes"  class="control-label ">Note tra titoli</label>
    <div class="controls">
      <input  id="titleNotes" name="titleNotes" disabled="disabled" title="titleNotes" class="span11 " type="text" tal:attributes="value Component/titleNotes_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="contentNotes"  class="control-label ">Note contenuto</label>
    <div class="controls">
      <input  id="contentNotes" name="contentNotes" disabled="disabled" title="contentNotes" class="span11 " type="text" tal:attributes="value Component/contentNotes_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="edition"  class="control-label ">Edizione</label>
    <div class="controls">
      <input  id="edition" name="edition" disabled="disabled" title="edition" class="span11 " type="text" tal:attributes="value Component/edition_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="publication"  class="control-label ">Pubblicazione</label>
    <div class="controls">
      <input  id="publication" name="publication" disabled="disabled" title="publication" class="span11 " type="text" tal:attributes="value Component/publication_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="phisicalDescription"  class="control-label ">Descrizione fisica</label>
    <div class="controls">
      <input  id="phisicalDescription" name="phisicalDescription" disabled="disabled" title="phisicalDescription" class="span11 " type="text" tal:attributes="value Component/phisicalDescription_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="materialSpecific"  class="control-label ">Specifica del materiale</label>
    <div class="controls">
      <input  id="materialSpecific" name="materialSpecific" disabled="disabled" title="materialSpecific" class="span11 " type="text" tal:attributes="value Component/materialSpecific_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="primarySupport"  class="control-label ">Supporto primario</label>
    <div class="controls">
      <input  id="primarySupport" name="primarySupport" disabled="disabled" title="primarySupport" class="span11 " type="text" tal:attributes="value Component/primarySupport_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="color"  class="control-label ">Colore</label>
    <div class="controls">
      <input  id="color" name="color" disabled="disabled" title="color" class="span11 " type="text" tal:attributes="value Component/color_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="drawingTecnique"  class="control-label ">Tecnica disegni</label>
    <div class="controls">
      <input  id="drawingTecnique" name="drawingTecnique" disabled="disabled" title="drawingTecnique" class="span11 " type="text" tal:attributes="value Component/drawingTecnique_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="printingTecnique"  class="control-label ">Tecnica stampa</label>
    <div class="controls">
      <input  id="printingTecnique" name="printingTecnique" disabled="disabled" title="printingTecnique" class="span11 " type="text" tal:attributes="value Component/printingTecnique_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="function"  class="control-label ">Funzione</label>
    <div class="controls">
      <input  id="function" name="function" disabled="disabled" title="function" class="span11 " type="text" tal:attributes="value Component/function_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="cartographicColor"  class="control-label ">Cartografico colore</label>
    <div class="controls">
      <input  id="cartographicColor" name="cartographicColor" disabled="disabled" title="cartographicColor" class="span11 " type="text" tal:attributes="value Component/cartographicColor_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="generalNotes"  class="control-label ">Note generali</label>
    <div class="controls">
      <input  id="generalNotes" name="generalNotes" disabled="disabled" title="generalNotes" class="span11 " type="text" tal:attributes="value Component/generalNotes_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="abstract"  class="control-label ">Abstract</label>
    <div class="controls">
      <input  id="abstract" name="abstract" disabled="disabled" title="abstract" class="span11 " type="text" tal:attributes="value Component/abstract_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="print"  class="control-label ">Impronta</label>
    <div class="controls">
      <input  id="print" name="print" disabled="disabled" title="print" class="span11 " type="text" tal:attributes="value Component/print_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="collection"  class="control-label ">Collezione</label>
    <div class="controls">
      <input  id="collection" name="collection" disabled="disabled" title="collection" class="span11 " type="text" tal:attributes="value Component/collection_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="ISBN"  class="control-label ">ISBN</label>
    <div class="controls">
      <input  id="ISBN" name="ISBN" disabled="disabled" title="ISBN" class="span11 " type="text" tal:attributes="value Component/ISBN_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="ISSN"  class="control-label ">ISSN</label>
    <div class="controls">
      <input  id="ISSN" name="ISSN" disabled="disabled" title="ISSN" class="span11 " type="text" tal:attributes="value Component/ISSN_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="ISSN"  class="control-label ">ISMN</label>
    <div class="controls">
      <input  id="ISMN" name="ISMN" disabled="disabled" title="ISMN" class="span11 " type="text" tal:attributes="value Component/ISMN_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="otherStandardNum"  class="control-label ">Altri numeri standard</label>
    <div class="controls">
      <input  id="otherStandardNum" name="otherStandardNum" disabled="disabled" title="otherStandardNum" class="span11 " type="text" tal:attributes="value Component/otherStandardNum_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="NBN"  class="control-label ">Numero Bibliografica Nazionale</label>
    <div class="controls">
      <input  id="NBN" name="NBN" disabled="disabled" title="NBN" class="span11 " type="text" tal:attributes="value Component/NBN_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="NL"  class="control-label ">Numero Lastra</label>
    <div class="controls">
      <input  id="NL" name="NL" disabled="disabled" title="NL" class="span11 " type="text" tal:attributes="value Component/NL_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="mark"  class="control-label ">Marca</label>
    <div class="controls">
      <input  id="mark" name="mark" disabled="disabled" title="mark" class="span11 " type="text" tal:attributes="value Component/mark_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="translationOf" class="control-label ">Traduzione di</label>
    <div class="controls">
      <input  id="translationOf" name="translationOf" disabled="disabled" title="translationOf" class="span11 " type="text" tal:attributes="value Component/translationOf_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="partOf" class="control-label ">Fa parte di</label>
    <div class="controls">
      <input  id="partOf" name="partOf" disabled="disabled" title="partOf" class="span11 " type="text" tal:attributes="value Component/partOf_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="continuationOf" class="control-label ">Continuazione di</label>
    <div class="controls">
      <input  id="continuationOf" name="continuationOf" disabled="disabled" title="continuationOf" class="span11 " type="text" tal:attributes="value Component/continuationOf_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="author" class="control-label ">Autore</label>
    <div class="controls">
      <input  id="author" name="author" disabled="disabled" title="author" class="span11 " type="text" tal:attributes="value Component/author_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="normalizedLocation" class="control-label ">Luogo normalizzato</label>
    <div class="controls">
      <input  id="normalizedLocation" name="normalizedLocation" disabled="disabled" title="normalizedLocation" class="span11 " type="text" tal:attributes="value Component/normalizedLocation_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="authorSecondary" class="control-label ">Autore secondario</label>
    <div class="controls">
      <input  id="authorSecondary" name="authorSecondary" disabled="disabled" title="authorSecondary" class="span11 " type="text" tal:attributes="value Component/authorSecondary_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="subject" class="control-label ">Soggetto</label>
    <div class="controls">
      <input  id="subject" name="subject" disabled="disabled" title="subject" class="span11 " type="text" tal:attributes="value Component/subject_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="deweyClassification" class="control-label ">Classificazione Dewey</label>
    <div class="controls">
      <input  id="deweyClassification" name="deweyClassification" disabled="disabled" title="deweyClassification" class="span11 " type="text" tal:attributes="value Component/deweyClassification_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="language" class="control-label ">Lingua</label>
    <div class="controls">
      <input  id="language" name="language" disabled="disabled" title="language" class="span11 " type="text" tal:attributes="value Component/language_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="country" class="control-label ">Paese</label>
    <div class="controls">
      <input  id="country" name="country" disabled="disabled" title="country" class="span11 " type="text" tal:attributes="value Component/country_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="identificationCode" class="control-label ">Codice identificativo</label>
    <div class="controls">
      <input  id="identificationCode" name="identificationCode" disabled="disabled" title="identificationCode" class="span11 " type="text" tal:attributes="value Component/identificationCode_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="localization" class="control-label ">Localizzazione</label>
    <div class="controls">
      <input  id="localization" name="localization" disabled="disabled" title="localization" class="span11 " type="text" tal:attributes="value Component/localization_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="library" class="control-label ">Biblioteca</label>
    <div class="controls">
      <input  id="library" name="library" disabled="disabled" title="library" class="span11 " type="text" tal:attributes="value Component/library_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="deweyCode" class="control-label ">Codice Dewey</label>
    <div class="controls">
      <input  id="deweyCode" name="deweyCode" disabled="disabled" title="deweyCode" class="span11 " type="text" tal:attributes="value Component/deweyCode_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="deweyDescription" class="control-label ">Descrizione Dewey</label>
    <div class="controls">
      <input  id="deweyDescription" name="deweyDescription" disabled="disabled" title="deweyDescription" class="span11 " type="text" tal:attributes="value Component/deweyDescription_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="date" class="control-label ">Data</label>
    <div class="controls">
      <input  id="date" name="date" disabled="disabled" title="date" class="span11 " type="text" tal:attributes="value Component/date_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="publicationDate" class="control-label ">Data Pubblicazione</label>
    <div class="controls">
      <input  id="publicationDate" name="publicationDate" disabled="disabled" title="publicationDate" class="span11 " type="text" tal:attributes="value Component/publicationDate_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="editor" class="control-label ">Editore</label>
    <div class="controls">
      <input  id="editor" name="editor" disabled="disabled" title="editor" class="span11 " type="text" tal:attributes="value Component/editor_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="inventory" class="control-label ">Inventario</label>
    <div class="controls">
      <input  id="inventory" name="inventory" disabled="disabled" title="inventory" class="span11 " type="text" tal:attributes="value Component/inventory_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="location" class="control-label ">Luogo</label>
    <div class="controls">
      <input  id="location" name="location" disabled="disabled" title="location" class="span11 " type="text" tal:attributes="value Component/location_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="numeration" class="control-label ">Numerazione</label>
    <div class="controls">
      <input  id="numeration" name="numeration" disabled="disabled" title="numeration" class="span11 " type="text" tal:attributes="value Component/numeration_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="presentation" class="control-label ">Presentazione</label>
    <div class="controls">
      <input  id="presentation" name="presentation" disabled="disabled" title="presentation" class="span11 " type="text" tal:attributes="value Component/presentation_s"/>
    </div>
  </div>

  <div class="control-group">
    <label for="electronicResourceUrl" class="control-label ">Url Risorsa Elettronica</label>
    <div class="controls">
      <input  id="electronicResourceUrl" name="electronicResourceUrl" disabled="disabled" title="electronicResourceUrl" class="span11 " type="text" tal:attributes="value Component/electronicResourceUrl_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="titleUniform" class="control-label ">Titolo Uniforme</label>
    <div class="controls">
      <input  id="titleUniform" name="titleUniform" disabled="disabled" title="titleUniform" class="span11 " type="text" tal:attributes="value Component/titleUniform_ss"/>
    </div>
  </div>

  <div class="control-group">
    <label for="Unimarc" class="control-label ">Unimarc</label>
    <div class="controls">
      <input  id="Unimarc" name="Unimarc" disabled="disabled" title="Unimarc" class="span11 " type="text" tal:attributes="value Component/unimarc_s"/>
    </div>
  </div>

</form>
